.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 80px 0 80px 0;
  padding: 10px;
}

.header__links-list {
  display: flex;
  justify-self: center;
  gap: 33px;
  text-underline-offset: 4px;
  list-style: circle;
  margin-bottom: 6px;
}

.header__link {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148.5px;
  height: 106.5px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;  
  margin-right: 39px;
  margin-bottom: 3px;
}

.address__link {
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  color: #ffffff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.title {
  z-index: 2;
  text-transform: uppercase;
}

.cover_title {
  margin: 168px 50px 106px;
}

.aligned-text {
  display: block;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin: 20px 0 20px 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  z-index: 2;
  display: flex;
  margin: 0 50px 25px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description-text {
  margin: 13px 100px 11px 0;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 0 30px;
  color: #ffffff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {  
  margin: 184px 24px 155px;
}

.lots__heading {
  margin: 0 40px 30px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin-bottom: 32px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  width: 334px;
  min-height: 596px;
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");  
}

.card-link {
  z-index: 2;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 38px 48px;
}

.card__title {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about_logo_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;  
}

.about__logo-image {
  width: 148px;
  height: 114px;  
}

.about__title {
  margin: 105.5px 0 100px 25px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text_container {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin-left: 25px;
}

.about__text {
  margin-top: 5px;
  padding-right: 5px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;  
}

.footer_contacts {
  justify-self: center;
  margin-right: 25px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 3px;
  margin-top: 3px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-underline-offset: 3px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  margin-left: 26px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
