* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 10px;
}

.header__links-list {
  display: flex;
  justify-self: center;
  gap: 30px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header_link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  margin-right: 50px;
}

.address_a {
  text-decoration: none;
}

/* main */
.main {
  background-color: black;
}

.cover {
  position: relative;
  z-index: -1;
  min-height: 757px;
  color: #ffffff;
  background-image: url("/images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.title {
  text-transform: uppercase;
}

.cover_title {
  margin: 165px 50px 106px;
}

.aligned-text {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin: 20px 0 20px 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  margin: 106px 50px 25px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: Regular;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description-text {
  margin: 12px 107px 11px 0;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 30px 11px 24px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* lots */

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin: 0 40px 27px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  z-index: -1;
}

.card_type_film {
  width: 334px;
  min-height: 596px;
  color: #ffffff;
  background-image: url("/images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  width: 334px;
  min-height: 596px;
  color: #ffffff;
  background-image: url("/images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  width: 334px;
  min-height: 596px;
  color: #ffffff;
  background-image: url("/images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 38px 48px;
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about_logo_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  /* margin: auto;*/
}

.about__logo-image {
  width: 148px;
  height: 114px;
  /*margin: 64px 46.48px;*/
}

.about__title {
  margin: 96px 0 100px 32px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text_container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-left: 32px;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  height: 180px;  
}

.footer_contacts {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;   
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-underline-offset: 4px;
  list-style-type: none;
  justify-items: center;  
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style-type: none;  
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}